<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="hari" [routerLinkActiveOptions]="{exact:true}">Websettings <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/login" routerLinkActive="hari">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/types" routerLinkActive="hari">Types</a>
                  <a class="dropdown-item" routerLink="/statuses" routerLinkActive="hari">Statuses</a>
                  <a class="dropdown-item" routerLink="/possession" routerLinkActive="hari">Possession</a>
                  <a class="dropdown-item" routerLink="/age" routerLinkActive="hari">Age</a>
                  <a class="dropdown-item" routerLink="/amenities" routerLinkActive="hari">Amenities</a>
                  <a class="dropdown-item" routerLink="/facing" routerLinkActive="hari">Facing</a>
                  <a class="dropdown-item" routerLink="/furnisghingstates" routerLinkActive="hari">Furnisghing States</a>
                  <a class="dropdown-item" routerLink="/floorings" routerLinkActive="hari">Floorings</a>
                  <a class="dropdown-item" routerLink="/parkings" routerLinkActive="hari">Parkings</a>
                  <a class="dropdown-item" routerLink="/measurement" routerLinkActive="hari">Measurement</a>


      
                </div>
      </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/properties" routerLinkActive="hari">Properties</a>
          </li>
         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Locationmanegment
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/country" routerLinkActive="hari">Cuntrys</a>
            <a class="dropdown-item" routerLink="/states" routerLinkActive="hari">States</a>
            <a class="dropdown-item" routerLink="/districs" routerLinkActive="hari">Districs</a>
            <a class="dropdown-item" routerLink="/mandels" routerLinkActive="hari">Mandels</a>
            <a class="dropdown-item" routerLink="/villages" routerLinkActive="hari">Villages</a>

          </div>
        </li>
        
        <li class="nav-item  dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Manegment
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/changepassword" routerLinkActive="hari">Change Password</a>
                  <a class="dropdown-item" routerLink="/logout" routerLinkActive="hari">Logout</a>
      
                </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/services" routerLinkActive="hari">Services</a>
          </li>
      </ul>
      
    </div>
  </nav>



  <router-outlet></router-outlet>